<ul>
                            <li>
                                <div class="text">
                                    <span>今日日期 Date<i style="display: none;" class="icon iconfont icon-shuoming"></i></span>
                                    <input v-model="date" readonly type="text" placeholder=""></div>
                            </li>
                            <li>
                                <div class="text">
                                    <span>姓名 Name<i style="display: none;" class="icon iconfont icon-shuoming"></i></span>
                                    <input v-model="realname" readonly type="text" placeholder=""></div>
                            </li>
                            <li>
                                <div class="text">
                                    <span>学工号 Student/Staff ID No.<i style="display: none;" class="icon iconfont icon-shuoming"></i></span>
                                    <input v-model="number" readonly type="text" placeholder=""></div>
                            </li>

                            <li>
                                <div name="sfzx" class="radio"><span>今日是否在校？ Are you on campus today?<i class="icon iconfont icon-shuoming"></i><em></em></span>
                                    <div>
                                        <div @click="setSfzx('1')"><span :class="{active: info.sfzx==='1'}"><i></i></span> <span>是 Yes</span></div>
                                        <div @click="setSfzx('0')"><span :class="{active: info.sfzx==='0'}"><i></i></span> <span>否 No</span></div>
                                    </div>
                                </div>
                            </li>
                            <li v-show="info.sfzx === '1'">
                                <div name="campus" class="radio"><span>所在校区 Campus<i class="icon iconfont icon-shuoming"></i><em></em></span>
                                    <div>
                                        <div @click="info.campus='紫金港校区'"><span :class="{active: info.campus==='紫金港校区'}"><i></i></span> <span>紫金港校区 Zijingang </span></div>
                                        <div @click="info.campus='玉泉校区'"><span :class="{active: info.campus==='玉泉校区'}"><i></i></span> <span>玉泉校区 Yuquan </span></div>
                                        <div @click="info.campus='西溪校区'"><span :class="{active: info.campus==='西溪校区'}"><i></i></span> <span>西溪校区 Xixi </span></div>
                                        <div @click="info.campus='华家池校区'"><span :class="{active: info.campus==='华家池校区'}"><i></i></span> <span>华家池校区 Huajiachi </span></div>
                                        <div @click="info.campus='之江校区'"><span :class="{active: info.campus==='之江校区'}"><i></i></span> <span>之江校区 Zhijiang </span></div>
                                        <div @click="info.campus='海宁校区'"><span :class="{active: info.campus==='海宁校区'}"><i></i></span> <span>海宁校区 Haining </span></div>
                                        <div @click="info.campus='舟山校区'"><span :class="{active: info.campus==='舟山校区'}"><i></i></span> <span>舟山校区 Zhoushan </span></div>
                                        <div @click="info.campus='宁波校区'"><span :class="{active: info.campus==='宁波校区'}"><i></i></span> <span>宁波校区 Ningbo </span></div>
                                        <div @click="info.campus='工程师学院'"><span :class="{active: info.campus==='工程师学院'}"><i></i></span> <span>工程师学院 Polytechnic Institute </span></div>
                                        <div @click="info.campus='杭州国际科创中心'"><span :class="{active: info.campus==='杭州国际科创中心'}"><i></i></span> <span>杭州国际科创中心 Hangzhou-ZJU Global Scientific and Technological Innovation Center</span></div>
                                        <div @click="info.campus='其他'"><span :class="{active: info.campus==='其他'}"><i></i></span> <span>其他 Others </span></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div name="sqhzjkkys" class="radio"><span>今日申领健康码的状态？What's the color of your health code today？<i class="icon iconfont icon-shuoming"></i><em></em></span>
                                    <div>
                                        <div @click="info.sqhzjkkys=1"><span :class="{active: info.sqhzjkkys==1}"><i></i></span> <span>绿码 Green code</span></div>
                                        <div @click="info.sqhzjkkys=2"><span :class="{active: info.sqhzjkkys==2}"><i></i></span> <span>红码 Red code</span></div>
                                        <div @click="info.sqhzjkkys=3"><span :class="{active: info.sqhzjkkys==3}"><i></i></span> <span>黄码 Yellow code</span></div>
                                        <div @click="info.sqhzjkkys=4"><span :class="{active: info.sqhzjkkys==4}"><i></i></span> <span>橙码 Orange code</span></div>
                                        <div @click="info.sqhzjkkys=5"><span :class="{active: info.sqhzjkkys==5}"><i></i></span> <span>无 No</span></div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div name="tw" class="radio"><span>今日是否有发热症状（高于37.2 ℃）？ Do you have a fever(above 37.2℃) today?<i class="icon iconfont icon-shuoming"></i><em></em></span>
                                    <div>

                                        <div @click="info.tw='1'"><span :class="{active: info.tw==='1'}"><i></i></span> <span>是 Yes</span></div>
                                        <div @click="info.tw='0'"><span :class="{active: info.tw==='0'}"><i></i></span> <span>否 No</span></div>
                                    </div>
                                </div>
                            </li>
                            <li v-show="info.tw == 1">
                                <div name="sfczyxqx" class="radio"><span>是否存在以下情形： Whether there are any of the following situations:<i class="icon iconfont icon-shuoming"></i><em></em></span>
                                    <div>
                                        <div @click="info.sfczyxqx=1"><span :class="{active: info.sfczyxqx==1}"><i></i></span> <span>经药物治疗3天后，体温持续高于38.5℃ After 3 days of medicine treatment, the body temperature is continuously higher than 38.5°C</span></div>
                                        <div @click="info.sfczyxqx=2"><span :class="{active: info.sfczyxqx==2}"><i></i></span> <span>呼吸费力或气促，呼吸≥24次/分，血氧饱和度≤93% Dyspnea or shortness of breath, respiration ≥ 24 times/min, blood oxygen saturation ≤ 93%</span></div>
                                        <div @click="info.sfczyxqx=3"><span :class="{active: info.sfczyxqx==3}"><i></i></span> <span>胸闷、心前区不适、心率大于100次/分钟 Chest tightness, precordial discomfort, heart rate greater than 100 beats/min</span></div>
                                        <div @click="info.sfczyxqx=4"><span :class="{active: info.sfczyxqx==4}"><i></i></span> <span>较长时间的剧烈咳嗽，痰多 Severe cough with profuse phlegm for a long period</span></div>
                                        <div @click="info.sfczyxqx=5"><span :class="{active: info.sfczyxqx==5}"><i></i></span> <span>出现急性过敏反应、血管神经性水肿等症状 Symptoms such as acute allergic reaction and nuerological angioedema</span></div>
                                        <div @click="info.sfczyxqx=6"><span :class="{active: info.sfczyxqx==6}"><i></i></span> <span>头晕、头痛、嗜睡或惊厥、癫痫等神经系统症状无法缓解 Nerve system symptoms such as dizziness, headache, drowsiness or convulsions and epilepsy that cannot be alleviated</span></div>
                                        <div @click="info.sfczyxqx=7"><span :class="{active: info.sfczyxqx==7}"><i></i></span> <span>高热且伴有基础疾病（如：心血管系统疾病、糖尿病、肥胖、脂肪肝、肝肾功能不全、免疫系统疾病、肿瘤等）明显加重且不能控制 High fever accompanied by underlying diseases (such as: cardiovascular system diseases, diabetes, obesity, fatty liver, liver and kidney function insufficiency, immune system diseases, tumors, etc.) are significantly aggravated and cannot be controlled</span></div>
                                        <div @click="info.sfczyxqx=8"><span :class="{active: info.sfczyxqx==8}"><i></i></span> <span>不存在上述情况 None of the above situations exist</span></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div name="sfqrxxss" class="radio">
                                    <div>
                                        <div @click="info.sfqrxxss = 1"><span  :class="{active: info.sfqrxxss == 1}">
                                            <i></i></span> <span>本人承诺：</br>
                                                上述信息真实准确。如有变化，及时更新相关信息并报告所在单位。</br>
                                                本人已知晓并将遵守政府和学校相关规定，配合做好疫情防控工作。</br>
                                                I certify:</br>
                                                The above information is true and accurate. In case of changes, I will keep my information updated and report in a timely manner.</br>
                                                I have understood and will abide by the relevant government and University regulations to facilitate the prevention and control of COVID-19 epidemic.</br>
                                        </span></div>
                                    </div>
                                </div>
                            </li>
                        </ul>